@model Adminpanel.Models.poemTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>poemTable</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.poem_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poem_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poem_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poem_image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.poem_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
