@model Adminpanel.Models.countingTable

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Counting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>countingTable</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.counting_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="File" name="ImageFile" required>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.counting_imageLarge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="File" name="ImageFileOne" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
