@model IEnumerable<Adminpanel.Models.countingTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.counting_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.counting_imageLarge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.counting_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.counting_imageLarge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.counting_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.counting_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.counting_id })
        </td>
    </tr>
}

</table>
